.container3 {
	width: 100%;
	height:auto;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	background: #2b7a78;
	color: white;
}

.container3-row {
	width: 90%;
	margin: auto;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-wrap: wrap;
}

.container3-columns {
	width: 33.33%;
	padding-top: 30px;
	text-align: center;
}

.container3-icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color: white;
	border: 1px solid white;
	color: #2b7a78;
	transform: rotate(45deg);
}

.container3-icon i {
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: var(--step-0);
}

.container3-icon:hover {
	background-color: #2b7a78;
	color: white; 
	transition-duration: 0.4s;
}

@media screen and (max-width: 1010px) {
	.container3-columns {
		width: 100%;
	}
}