/* Font setup */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Karla", Helvetica, Arial, sans-serif;
    margin: 0;
    color: black;
    text-align: center;
  }
  
  /* Add -webkit-text-size-adjust property to adjust text size */
  h1, h2, h3, h4, h5, h6, p, a {
    -webkit-text-size-adjust: 100%;
  }
  
  h1 {
    font-size: var(--step-5);
  }
  
  h2 {
    font-size: var(--step-4);
  }
  
  h3 {
    font-size: var(--step-3);
  }
  
  h4 {
    font-size: var(--step-2);
  }
  
  h5 {
    font-size: var(--step-1);
  }
  
  h6 {
    font-size: var(--step-0);
  }
  
  p {
    font-size: var(--step--1);
    margin: 20px;
    line-height: 1.5em;
  }
  
  a {
    font-size: var(--step--2);
  }
  
  /* Special paragraphs */
  .special-paragraphs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 1010px) {
    .special-paragraphs {
      text-align: justify;
    }
  }
  