<!-- About Section -->
<div class="container1">
    <h4>About Me</h4>
    <p class="special-paragraphs">
        My name is Misbah Rizaee, and I am delighted to introduce myself as a highly accomplished individual who 
        has successfully earned a Master's degree in Computer Science from Trinity College Dublin, where I gained 
        extensive knowledge and expertise in the field. As you browse through this website, you will discover 
        comprehensive details about my background, qualifications, skills, and experience, which I am eager to 
        share with you to showcase my dedication, hard work, and proficiency in the industry.
    </p>
    <div class="container1-row">
        <!-- Add additional content or images here, if needed -->
    </div>
</div>