<!-- About Section -->
<div class="container1">
    <h4>About Me</h4>
    <p class="special-paragraphs">
        I am a software engineer with a Master's degree in Computer Science and experience in cloud computing. 
        Skilled in Java, Python, and Golang, I have worked extensively in Agile environments, contributing to 
        team collaborations and driving solutions to complex problems through informed decision-making.

        At HPE, a leader in innovation, I leverage cutting-edge technologies and methodologies to drive 
        forward-thinking solutions. My experience with various tools and technologies demonstrates my strong 
        adaptability and ability to switch contexts efficiently. Committed to continuous learning and staying 
        current with industry advancements, I bring a proactive and responsible approach to every project, 
        showcasing my dedication to advancing technology and delivering impactful results.
    </p>
    <div class="container1-row">
        <!-- Add additional content or images here, if needed -->
    </div>
</div>