<!-- About Section -->
<div class="container1">
    <h4>About Me</h4>
    <p class="special-paragraphs">
        I am a Software Engineer with a Master's degree in Computer Science and over three years of proven experience delivering innovative, 
        scalable, and secure solutions across software development, cloud engineering, and AI/ML domains. I specialize in designing and deploying 
        distributed systems, automating cloud infrastructure, and applying machine learning techniques to solve complex real-world problems. 
        My expertise spans across backend development with Java, Python and Golang, cloud deployments using AWS and Kubernetes, and Infrastructure 
        as Code with Terraform. I am passionate about continuous learning and innovation, consistently seeking new ways to enhance system 
        performance, security, and scalability. I thrive in Agile environments and value strong collaboration, adaptability, and a proactive 
        approach to driving impactful business outcomes through technology.
    </p>
    <div class="container1-row">
        <!-- Add additional content or images here, if needed -->
    </div>
</div>