<!-- Experience Section -->
<div class="container4">
    <h4>Experience</h4>
    <div class="container4-row">
        <!-- Hewlett Packard Enterprise -->
        <div class="container4-columns left">
            <div class="green-rectangle">
                <div class="center-hole"></div>
            </div>
            <h5>Hewlett Packard Enterprise</h5>
        </div>
        <div class="container4-columns right">
            <p style="text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                urna. Aenean mollis blandit quam eu porttitor.
            </p>
        </div>
    </div>

    <div class="container4-row">
        <!-- Ericsson -->
        <div class="container4-columns left">
            <div class="horizontal-line"></div>
            <div class="horizontal-line"></div>
            <div class="horizontal-line"></div>
            <h5>Ericsson</h5>
        </div>
        <div class="container4-columns right">
            <p style="text-align:justify;">
                During my time as an intern at Ericsson, I had the opportunity to work with a leading global technology 
                company that is focused on developing cutting-edge software, applications, and telecommunications services. 
                I collaborated with senior and junior software engineers, contributed to real-world projects, built prototypes, 
                and worked on software functionalities, which enhanced my communication and teamwork skills.
            </p>
        </div>
    </div>
</div>
