<!-- Experience Section -->
<div class="container4">
    <h4>Experience</h4>
    <div class="container4-row">
        <!-- Hewlett Packard Enterprise -->
        <div class="container4-columns left">
            <div class="green-rectangle">
                <div class="center-hole"></div>
            </div>
            <h5>Hewlett Packard Enterprise</h5>
        </div>
        <div class="container4-columns right">
            <p style="text-align:justify;">
                At HPE, I have contributed to enhancing security, optimizing infrastructure, and 
                improving deployment processes. Leveraging technologies such as Kubernetes, AWS, 
                Terraform, and CI/CD, I worked on developing scalable systems that support critical 
                business operations. My responsibilities included implementing application security 
                measures, automating deployment pipelines, and integrating services across complex environments.

                I also utilized platforms like Morpheus and JFrog Artifactory to streamline deployment workflows 
                and manage artifacts efficiently. These efforts focused on improving resource utilization, 
                operational efficiency, and system reliability while maintaining a strong emphasis on collaboration 
                and continuous improvement in cloud-based solutions.
            </p>
        </div>
    </div>

    <div class="container4-row">
        <!-- Ericsson -->
        <div class="container4-columns left">
            <div class="horizontal-line"></div>
            <div class="horizontal-line"></div>
            <div class="horizontal-line"></div>
            <h5>Ericsson</h5>
        </div>
        <div class="container4-columns right">
            <p style="text-align:justify;">
                During my internship, I contributed to the seamless deployment and performance optimization of 
                microservices on Kubernetes, ensuring proper functionality through testing. I provided maintenance 
                and support to improve service stability, resolving bugs and implementing enhancements in existing 
                Java code.

                I maintained high-quality standards by conducting detailed code reviews, reducing errors and 
                inefficiencies, and supporting the delivery of reliable solutions. Additionally, I actively 
                participated in Scrum events, contributing to task planning and prioritization within the Agile team.
            </p>
        </div>
    </div>
</div>
