<!-- Footer Section -->
<div class="container6">
    <h6>Contact Me</h6>
    <div class="container6-row">
        <!-- <form action="mailto:misbah.rizaee@gmail.com" method="post" enctype="text/plain"> -->
        <form id="contactForm">
            <input type="text" name="name" class="feedback-input" placeholder="Name"/>
            <input type="email" name="email" class="feedback-input" placeholder="Email"/>
            <textarea name="comment" class="feedback-input" placeholder="Comment"></textarea>
            <input type="submit" value="Send">
        </form>					
    </div>
</div>
<hr size="1" style="width: 90%;">
<div class="social-icons">
    <a class="fa fa-github" href=""></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/misbah-rizaee"></a>
    <a class="fa fa-instagram" href="https://www.instagram.com/misbah_rizaee/?hl=en"></a>
</div>
<p>© Misbah Rizaee 2019</p>
