<!-- Navigation Bar -->
<div class="topnav" id="myTopnav">
  <a href="#" class="fa fa-home"></a>
  <a href="#about">About Me</a>
  <a href="#skills">My Skills</a>
  <a href="#work">My Work</a>
  <a href="#footer">Contact Me</a>
  <a class="icon burger-icon"><i class='fa fa-bars'></i></a>
</div>

<!-- Side Navigation -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn close-icon">&times;</a>
  <a href="#about" class="nav-link">About Me</a>
  <a href="#skills" class="nav-link">My Skills</a>
  <a href="#work" class="nav-link">My Work</a>
  <a href="#footer" class="nav-link">Contact Me</a>
</div>
