<!-- Navigation Bar -->
<div class="topnav" id="myTopnav">
  <a href="#" class="fa fa-home"></a>
  <a href="#about">About Me</a>
  <a href="#skills">My Skills</a>
  <a href="#work">My Work</a>
  <a href="#footer">Contact Me</a>
  <a class="icon" onclick="openNav()"><i class='fa fa-bars'></i></a>
</div>

<!-- Side Navigation -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#about" onclick="closeNav()">About Me</a>
  <a href="#skills" onclick="closeNav()">My Skills</a>
  <a href="#work" onclick="closeNav()">My Work</a>
  <a href="#footer" onclick="closeNav()">Contact Me</a>
</div>
