<!-- Navigation Bar -->
<div class="topnav" id="myTopnav">
  <a href="#" class="fa fa-home"></a>
  <a href="#AboutMe">About Me</a>
  <a href="#MySkills">My Skills</a>
  <a href="#MyWork">My Work</a>
  <a href="#contact">Contact Me</a>
  <a class="icon" onclick="openNav()"><i class='fa fa-bars'></i></a>
</div>

<!-- Side Navigation -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#AboutMe" onclick="closeNav()">About Me</a>
  <a href="#MySkills" onclick="closeNav()">My Skills</a>
  <a href="#MyWork" onclick="closeNav()">My Work</a>
  <a href="#contact" onclick="closeNav()">Contact Me</a>
</div>
