<div class='container3'>
    <h4>Other Skills</h4>
    <div class='container3-row'>
        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-database'></i>
            </div>
            <h5>Database</h5>
            <p style="text-align:justify;">As a software developer, I have had the opportunity to design and develop database scripts for a wide range of complex and challenging projects. This work has allowed me to build a deep understanding of the underlying principles and best practices of database management, and has given me a strong working knowledge of MySQL. In addition, I also have experience working with Amazon Web Services, including the use of RDS (Relational Database Service). This experience has given me a comprehensive understanding of the unique challenges and opportunities presented by cloud-based database management, and has allowed me to develop and refine a wide range of skills and techniques for optimizing performance, reliability, and scalability in cloud-based database environments.</p>
        </div>

        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-code'></i>
            </div>
            <h5>Web Development</h5>
            <p style="text-align:justify;">During my journey in web development, I started by learning the fundamentals of HTML and XML, before delving into the more complex aspects of CSS and JavaScript. As my knowledge and skills grew, I began to explore server-side development, which offered a new set of challenges and opportunities for learning. Through this experience, I have continued to expand my skillset, deepening my understanding of languages like PHP and Java, and learning to work with powerful frameworks like Spring and Hibernate.</p>
        </div>

        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-bug'></i>
            </div>
            <h5>Agile Methodologies</h5>
            <p style="text-align:justify;">Over the course of my career as a software developer, I have gained extensive experience with a range of Agile methodologies, including Scrum and Kanban, as well as various testing techniques. I am well-versed in the use of automated testing tools, such as JUnit. In addition to these technical skills, I have also developed a keen understanding of the importance of communication, collaboration, and teamwork in the context of Agile development. I am well-versed in the use of Agile project management tools, such as JIRA, which can help to streamline project workflows and improve the overall efficiency and effectiveness of the development process.</p>
        </div>
    </div>
</div>