<div class='container3'>
    <h4>Other Skills</h4>
    <div class='container3-row'>
        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-database'></i>
            </div>
            <h5>AWS</h5>
            <p style="text-align:justify;">
                I design, deploy, and manage cloud-native applications on Amazon Web Services (AWS), utilizing services such as EC2, S3, RDS, IAM, 
                Lambda, and more. My experience includes architecting scalable, resilient systems and integrating AWS into CI/CD pipelines to 
                automate and streamline deployments while ensuring best practices for security and cost optimization.  
            </p>
        </div>

        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-code'></i>
            </div>
            <h5>Kubernetes</h5>
            <p style="text-align:justify;">
                I work extensively with Kubernetes to orchestrate and manage containerized applications, ensuring high availability, scalability, 
                and fault tolerance. I have experience configuring clusters, deploying microservices, setting up monitoring and alerting systems, 
                and optimizing resource usage. I use Kubernetes both in development environments and production-grade deployments.  
            </p>
        </div>

        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-bug'></i>
            </div>
            <h5>Machine Learning</h5>
            <p style="text-align:justify;">
                Throughout my master's studies, I gained experience in machine learning and natural language processing. 
                I worked on projects involving data collection via Twitter API, pre-processing data using NLP libraries, 
                and performing advanced statistical modeling such as Latent Dirichlet Allocation (LDA).
            </p>
        </div>
    </div>
</div>