<div class='container3'>
    <h4>Other Skills</h4>
    <div class='container3-row'>
        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-database'></i>
            </div>
            <h5>AWS</h5>
            <p style="text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                urna. Aenean mollis blandit quam eu porttitor.  
            </p>
        </div>

        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-code'></i>
            </div>
            <h5>Kubernetes</h5>
            <p style="text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                urna. Aenean mollis blandit quam eu porttitor.  
            </p>
        </div>

        <div class='container3-columns'>
            <div class='container3-icon'>
                <i class='fa fa-bug'></i>
            </div>
            <h5>Machine Learning</h5>
            <p style="text-align:justify;">
                Throughout my master's studies, I gained experience in machine learning and natural language processing. 
                I worked on projects involving data collection via Twitter API, pre-processing data using NLP libraries, 
                and performing advanced statistical modeling such as Latent Dirichlet Allocation (LDA).
            </p>
        </div>
    </div>
</div>