<!-- Skills Section -->
<div class="container2">
    <h4>My Skills</h4>
    <p class="special-paragraphs">
        My passion for programming has driven me to constantly seek out new challenges and opportunities to grow 
        and expand my skill set. Whether working on a personal project or collaborating with a team on a large-scale 
        enterprise solution, I have developed a wide range of skills, which I will outline below.
    </p>
    <div class="container2-row">
        <!-- Java Skill -->
        <div class="container2-columns">
            <h5>Java</h5>
            <p style="text-align:justify;">
                I had the opportunity to work on a large-scale project at Ericsson that utilized the latest Java 
                technologies, including Spring Boot, Docker, and Kubernetes. The project's goal was to provide a 
                consistent set of APIs to handle large amounts of data for other Ericsson applications. This 
                experience highlighted my ability to deliver high-quality solutions to challenging problems and 
                demonstrated my skills and experience in programming.
            </p>
        </div>

        <!-- Golang Skill -->
        <div class="container2-columns">
            <h5>Golang</h5>
            <p style="text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                urna. Aenean mollis blandit quam eu porttitor.                
            </p>
        </div>

        <!-- Python Skill -->
        <div class="container2-columns">
            <h5>Python</h5>
            <p style="text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                urna. Aenean mollis blandit quam eu porttitor.                
            </p>
        </div>

        <!-- Terraform Skill -->
        <div class="container2-columns">
            <h5>Terraform</h5>
            <p style="text-align:justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                urna. Aenean mollis blandit quam eu porttitor.
            </p>
        </div>
    </div>
</div>
