<!-- Skills Section -->
<div class="container2">
    <h4>My Skills</h4>
    <p class="special-paragraphs">
        My passion for programming has driven me to constantly seek out new challenges and opportunities to grow 
        and expand my skill set. Whether working on a personal project or collaborating with a team on a large-scale 
        enterprise solution, I have developed a wide range of skills, which I will outline below.
    </p>
    <div class="container2-row">
        <!-- Java Skill -->
        <div class="container2-columns">
            <h5>Java</h5>
            <p style="text-align:justify;">
                I had the opportunity to work on a large-scale project at Ericsson that utilized the latest Java 
                technologies, including Spring Boot, Docker, and Kubernetes. The project's goal was to provide a 
                consistent set of APIs to handle large amounts of data for other Ericsson applications. This 
                experience highlighted my ability to deliver high-quality solutions to challenging problems and 
                demonstrated my skills and experience in programming.
            </p>
        </div>

        <!-- Python Skill -->
        <div class="container2-columns">
            <h5>Python</h5>
            <p style="text-align:justify;">
                During my tenure at Ericsson, I was responsible for developing tests for new and existing functionalities 
                within my project. I collaborated with developers to understand requirements, created test cases, and 
                automated testing procedures to ensure the software's stability and reliability.
            </p>
        </div>

        <!-- Container Technology Skill -->
        <div class="container2-columns">
            <h5>Container Technology</h5>
            <p style="text-align:justify;">
                During my internship at Ericsson, I gained hands-on experience working with container-based deployments, 
                utilizing technologies like Docker, Kubernetes, Linux, Bash, and Git. This provided me with a strong 
                foundation in modern software development and deployment processes.
            </p>
        </div>

        <!-- Machine Learning Skill -->
        <div class="container2-columns">
            <h5>Machine Learning</h5>
            <p style="text-align:justify;">
                Throughout my master's studies, I gained experience in machine learning and natural language processing. 
                I worked on projects involving data collection via Twitter API, pre-processing data using NLP libraries, 
                and performing advanced statistical modeling such as Latent Dirichlet Allocation (LDA).
            </p>
        </div>
    </div>
</div>
