<!-- My Work Section -->
<div class="container5">
    <h4>My Work</h4>
    <p class="special-paragraphs">
        If you are interested in seeing some of the projects I have worked on, feel free to check out my GitHub account, 
        where you will find the source code for each one.
    </p>
    <div class="container5-row">
        <!-- Project 1 -->
        <div class="container5-columns">
            <div class="column-content">
                <h5>Project 1</h5>
                <p style="text-align:justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                    vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                    urna. Aenean mollis blandit quam eu porttitor.
                </p>
            </div>
            <a href="" target="_blank">
                <button class="container5-button">See the Code &raquo;</button>
            </a>
        </div>

        <!-- Project 2 -->
        <div class="container5-columns">
            <div class="column-content">
                <h5>Project 2</h5>
                <p style="text-align:justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                    vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                    urna. Aenean mollis blandit quam eu porttitor.
                </p>
            </div>
            <a href="" target="_blank">
                <button class="container5-button">See the Code &raquo;</button>
            </a>
        </div>

        <!-- Project 3 -->
        <div class="container5-columns">
            <div class="column-content">
                <h5>Project 3</h5>
                <p style="text-align:justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed semper sem. Nullam eros sem, elementum 
                    vel mattis vel, hendrerit non est. Cras pharetra mauris id felis facilisis tincidunt. Integer vitae dictum 
                    urna. Aenean mollis blandit quam eu porttitor.
                </p>
            </div>
            <a href="" target="_blank">
                <button class="container5-button">See the Code &raquo;</button>
            </a>
        </div>
    </div>
</div>
