<!-- My Work Section -->
<div class="container5">
    <h4>My Work</h4>
    <p class="special-paragraphs">
        If you are interested in seeing some of the projects I have worked on, feel free to check out my GitHub account, 
        where you will find the source code for each one.
    </p>
    <div class="container5-row">
        <!-- Project 1 -->
        <div class="container5-columns">
            <div class="column-content">
                <h5>The Potential of LDA on Social Media</h5>
                <p style="text-align:justify;">
                    In my research project, I investigated the potential of topic modelling on social media to support 
                    the identification of refugee needs in near real-time. Using Twitter's API, I collected and 
                    pre-processed large volumes of data with NLP libraries, applying Latent Dirichlet Allocation (LDA) 
                    to identify latent themes. This work highlighted how social media insights can be used to identify 
                    areas requiring the most assistance.
                </p>
            </div>
            <a href="https://github.com/Misbah-Rizaee/Research-Project" target="_blank">
                <button class="container5-button">See the Code &raquo;</button>
            </a>
        </div>

        <!-- Project 2 -->
        <div class="container5-columns">
            <div class="column-content">
                <h5>Autonomous IoT-based Sorting Machine</h5>
                <p style="text-align:justify;">
                    This project involved prototyping an IoT-based autonomous sorting machine with a rotating conveyor 
                    belt controlled by an ESP32-WROOM-32 microcontroller. It used sensors and cloud communication for 
                    real-time package sorting. This project showcased my expertise in IoT, automation, and cloud-based 
                    data transmission.
                </p>
            </div>
            <a href="https://github.com/Misbah-Rizaee/IoT-Sorting-Machine-Project" target="_blank">
                <button class="container5-button">See the Code &raquo;</button>
            </a>
        </div>

        <!-- Project 3 -->
        <div class="container5-columns">
            <div class="column-content">
                <h5>Predicting Fire Brigade Notional Price</h5>
                <p style="text-align:justify;">
                    This project involved working with London Fire Brigade's dataset to predict the notional price of 
                    fire services using machine learning. By analyzing linear data patterns, we developed an accurate 
                    linear regression model to predict pricing. This work demonstrated my ability to analyze large 
                    datasets and apply ML techniques effectively.
                </p>
            </div>
            <a href="https://github.com/Misbah-Rizaee/Machine-Learning-Project" target="_blank">
                <button class="container5-button">See the Code &raquo;</button>
            </a>
        </div>
    </div>
</div>
